extends /layouts/_pages

block vars
  -
    product = products[0];

    page = {
      title: product.name,
      breadcrumbs: {
      }
    }

block pages
  div.uk-grid-medium.uk-child-width-1-1(uk-grid)

    //- Product
    div
      div.uk-card.uk-card-default.uk-card-small.tm-ignore-container
        div.uk-grid-small.uk-grid-collapse.uk-grid-match(uk-grid)

          //- Media
          div(class="uk-width-1-1 uk-width-expand@m")
            div.uk-grid-collapse.uk-child-width-1-1(
              uk-slideshow="finite: true; ratio: 4:3;"
              uk-grid)

              //- Primary image
              div
                ul.uk-slideshow-items(uk-lightbox)
                  li
                    if product.image
                      a.uk-card-body.tm-media-box.tm-media-box-zoom(href= product.image.large)
                        figure.tm-media-box-wrap
                          img(src= product.image.large alt= product.name)
                    else
                      figure.tm-media-box-wrap
                        +icon("image", "5")(class="uk-text-muted")
                  if product.additionalImages
                    each additionalImage in product.additionalImages
                      li
                        a.uk-card-body.tm-media-box.tm-media-box-zoom(href= additionalImage.large)
                          figure.tm-media-box-wrap
                            img(src= additionalImage.large alt= product.name)

              //- Additional images
              if product.additionalImages
                div
                  div.uk-card-body.uk-flex.uk-flex-center
                    div(class="uk-width-1-2 uk-visible@s")
                      div(uk-slider="finite: true")
                        div.uk-position-relative
                          div.uk-slider-container
                            ul.tm-slider-items.uk-slider-items.uk-child-width-1-4.uk-grid.uk-grid-small
                              li(uk-slideshow-item="0")
                                div.tm-ratio.tm-ratio-1-1
                                  a.tm-media-box.tm-media-box-frame
                                    figure.tm-media-box-wrap
                                      img(src= product.image.small alt= product.name)

                              each additionalImage, index in product.additionalImages
                                li(uk-slideshow-item= index + 1)
                                  div.tm-ratio.tm-ratio-1-1
                                    a.tm-media-box.tm-media-box-frame(href="#")
                                      figure.tm-media-box-wrap
                                        img(src= additionalImage.small alt= product.name)

                            div
                              a.uk-position-center-left-out.uk-position-small(
                                href="#"
                                uk-slider-item="previous"
                                uk-slidenav-previous)
                              a.uk-position-center-right-out.uk-position-small(
                                href="#"
                                uk-slider-item="next"
                                uk-slidenav-next)

                    ul(class="uk-slideshow-nav uk-dotnav uk-hidden@s")

          //- Info
          div(class="uk-width-1-1 uk-width-1-3@m tm-product-info")
            div.uk-card-body

              //- Brand
              div
                a(href= product.brand.href title= product.brand.name)
                  img(src= product.brand.image alt= product.brand.name style="height: 40px;")

              //- Rating & Statuses
              div.uk-margin
                div.uk-grid-small(uk-grid)

                  //- Rating
                  div.uk-flex.uk-flex-middle
                    ul.uk-iconnav.uk-margin-xsmall-bottom.tm-rating
                      li: +icon("star")(class="uk-text-warning")
                      li: +icon("star")(class="uk-text-warning")
                      li: +icon("star")(class="uk-text-warning")
                      li: +icon("star")(class="uk-text-warning")
                      li: +icon("star")(class="uk-text-warning")
                    div.uk-margin-xsmall-left
                      a.uk-text-meta.js-scroll-to-description(
                        href="#description"
                        onclick="UIkit.switcher('.js-product-switcher').show(3);") (2)

                  //- Statuses
                  if product.statuses
                    div
                      each status in product.statuses
                        case status
                          when "新款"
                            span.uk-label.uk-label-success.uk-margin-xsmall-right= "新款"
                          when "热销"
                            span.uk-label.uk-label-warning.uk-margin-xsmall-right= "热销"
                          when "底价售"
                            span.uk-label.uk-label-danger.uk-margin-xsmall-right= "底价售"
                          default
                            span.uk-label= status


              //- Shop
              div.uk-margin
                div.uk-padding-small.uk-background-primary-lighten.uk-border-rounded
                  div.uk-grid-small.uk-child-width-1-1(uk-grid)

                    //- Prices
                    div
                      if product.isNotAvailable
                        div.uk-text-muted Product not available
                      else
                        if product.oldPrice
                          del.uk-text-meta= product.oldPrice
                          div.tm-product-price= product.price


              //- Properties
              div.uk-margin
                if product.properties
                  ul.uk-list.uk-text-small.uk-margin-remove
                    for value, property in product.properties
                      li
                        span.uk-text-muted= property + ": "
                        span!= value


