div.uk-navbar-container.tm-navbar-container(uk-sticky="cls-active: tm-navbar-container-fixed")
  div.uk-container(uk-navbar)

    div.uk-navbar-left

      //- Hamburger
      button(class="uk-navbar-toggle uk-hidden@m"
             uk-toggle="target: #nav-offcanvas"
             uk-navbar-toggle-icon)

      //- Logo
      a.uk-navbar-item.uk-logo(href="index.html")
        img(src="images/logo.svg" width="90" height="32" alt="Logo")

      //- Navigation
      nav(class="uk-visible@m")
        ul.uk-navbar-nav
          each item in navbarMenu
            li
              a(href= item.href)= item.cn
                if item.items
                  +icon('chevron-down', '.75')(class="uk-margin-xsmall-left")
              if item.items
                div(class="uk-navbar-dropdown uk-margin-remove uk-padding-remove-vertical"
                    uk-drop="pos: bottom-justify;" +
                            "delay-show: 125;" +
                            "delay-hide: 50;" +
                            "duration: 75;" +
                            "boundary: .tm-navbar-container;" +
                            "boundary-align: true;" +
                            "pos: bottom-justify;" +
                            "flip: x")

                  if item.name === "Catalog"
                    div.uk-container
                      ul.uk-navbar-dropdown-grid.uk-child-width-1-5(uk-grid)
                        each category in item.items
                          li
                            div.uk-margin-top.uk-margin-bottom
                              a.uk-link-reset(href= category.href)
                                if category.image
                                  img(class="uk-display-block uk-margin-auto uk-margin-bottom"
                                      src= category.image
                                      alt= category.name
                                      width="80"
                                      height="80")
                                div.uk-text-bolder= category.name
                              if category.items
                                ul.uk-nav.uk-nav-default
                                  each subcategory in category.items
                                    li
                                      a(href="subcategory.html")= subcategory



    div.uk-navbar-right

      //- Search
      a.uk-navbar-toggle.tm-navbar-button(href="#" uk-search-icon)
      div.uk-navbar-dropdown.uk-padding-small.uk-margin-remove(
        uk-drop="mode: click;" +
                "cls-drop: uk-navbar-dropdown;" +
                "boundary: .tm-navbar-container;" +
                "boundary-align: true;" +
                "pos: bottom-justify;" +
                "flip: x")
        div.uk-container
          div.uk-grid-small.uk-flex-middle(uk-grid)
            div.uk-width-expand
              form.uk-search.uk-search-navbar.uk-width-1-1
                input.uk-search-input(type="search" placeholder="Search…" autofocus)
            div.uk-width-auto
              a.uk-navbar-dropdown-close(href="#" uk-close)


      //- Cart
      a.uk-navbar-item.uk-link-muted.tm-navbar-button(
        href="cart.html"
        uk-toggle="target: #cart-offcanvas"
        onclick="return false")
        span(uk-icon="cart")
        span.uk-badge 2